.main__section-alert-formularios{
    position: absolute;
    width: 180px;
    height: auto;
    left: calc(50% - 90px);
    top: 30px;
    background-color: #dbdbdb;
    border: 2px solid #808080;
    border-radius: 10px;
    text-align: center;
}
.main__section-alert-formularios h3{
    padding: 7px 0;
    border-bottom: 1px solid black;
}



.main__section-alert-formularios label{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 50px;
    padding-left: 10px;
    font-size: 1.2rem;
    border-bottom: 1px solid black;
}

.main__section-alert-formularios label input{
    width: 15px;
    height: 15px;
    margin: 0 10px 0 5px;
}

.formulario-nexflix{
    display: none;
}
.formulario-crunchyroll{
    display: none;
}
.formulario-hulu{
    display: none;
}

.display{
    display: block;
}
