*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html{
    font-size: 62.5%;
    font-family: 'Mulish', sans-serif;
}
body{
    display: grid;
    grid-template-rows: auto 1fr auto;
    width: 100%;
    height: auto;
    min-height: 100vh;
    background: linear-gradient(to left top, rgba(21, 101, 192, 1) 0%, rgba(185, 43, 39, .95) 100%);
    background-repeat: no-repeat;
}
.flex{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.header{
    width: 100%;
    height: auto;
    text-align: center;
    margin: 20px 0;
}
.header__section{
    width: 100%;
    max-width: 600px;
}
.header__section h1{
    width: 90%;
    font-size: 2.5rem;
    font-weight: 800;
    color: aliceblue;
    text-shadow: 18px 16px 15px rgb(0 0 0);
}
.header__section p{
    width: 100%;
    text-align: center;
    font-size: 1.6rem;
    line-height: 2rem;
    color: aliceblue;
    margin: 40px 0;
    text-shadow: 2px 2px 3px rgb(0 0 0);
}



.main{
    width: 100%;
    height: auto;
    margin-bottom: 40px;
    max-width: 600px;
    margin: 0 auto;
}
.mian .main__section{
    width: 100%;
    height: auto;
}
.main__section p{
    text-align: center;
    margin: 0 0 40px;
    font-size: 2rem;
    font-weight: 800;
    color: aliceblue;
    text-shadow: 18px 16px 15px rgb(0 0 0);
}

.main__section--formulario{
    height: auto;
    max-width: 600px;
    text-align: left;
}
.main__section--formulario label{
    width: 85%;
    font-size: 1.8rem;
    font-weight: 700;
    color: aliceblue;
    text-shadow: 2px 2px 2px rgb(0 0 0);
}
.main__section--formulario label input{
    margin: 7px 0 30px 10px;
    padding-left: 10px;
    height: 30px;
    max-width: 220;
    font-size: 1.8rem;
    outline: none;
    border: none;
    border-radius: 20px;
    box-shadow: 3px 3px 10px 1px rgb(32, 1, 1);
}
.main__section--formulario label input::placeholder{
    font-size: 1.4rem;
}
.main__section--platformas{
    width: 100%;
    height: auto;
    max-width: 600px;
    text-align: center;
}
.main__section--platformas h2{
    font-size: 2rem;
    margin: 20px 0;
    color: aliceblue;
}
.main__section--platformas-boton{
    width: 70%;
    height: 40px;
    max-width: 250px;
    font-size: 1.7rem;
    font-weight: 600;
    margin: 20px 0 40px;
    border: none;
    border-radius: 20px;
    box-shadow: 4px 4px 15px 3px rgb(0, 0, 0);
    cursor: pointer;
}

.main__section--respuesta{
    width: 80%;
    height: auto;
    max-width: 500px;
    padding: 20px 20px;
    margin-bottom: 50px;
    background-color: aliceblue;
    border: 1px solid black;
    border-radius:20px;
    box-shadow: 4px 4px 15px 3px rgb(0, 0, 0);
}
.main__section--respuesta p{
    font-size: 2rem;
    color: black;
    font-weight: 700;
    text-align: left;
    text-shadow: none;
    line-height: 2.5rem;
    margin: 0;
}

.DISPLAYnone{
    display: none;
}



.footer{
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 100%;
    height: 140px;
    background-color: black;
}
.footer div{
    display: flex;
    justify-content: center;
    align-items: center;
}
footer div ul li{
    font-size: 1.2rem;
    color: aliceblue;
    list-style: none;
    margin-bottom: 5px;
}

.footer div ul li a{
    font-size: 1.2rem;
    color: aliceblue;
    text-decoration: none;
    padding-bottom: 10px;
}
.footer div ul li a:hover{
    color: rgb(96, 96, 233);
}